.env
.git
.gitignore
.dockerignore
vendor/
node_modules/
storage/coa/*
!storage/coa/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/sessions/*
!storage/sessions/.gitkeep
client-installer/
server-installer/
installer/
*.bat
*.ps1
*.exe
